
.about-content{
    overflow: hidden;
}
.about-item{
    width: 30%;
    text-align: center;
    border: 1px solid #e8e8e8;
    padding: 50px 20px ;
}

.about-item:hover .about-item-title{
   color: white;
}
.about-item.mg{
    margin: 0 5%;
   
}
.about-item .icon{
    margin-bottom: 10px;
    color: var(--maincolor);
}
.about-item-title{
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: color .5s;
}
.about-item-des{
    line-height: 1.6;
    margin-bottom: 10px;
}

.about-item-link{
    color:var(--maincolor);
    text-transform: capitalize;
}

