
.home{
    height: 100vh;
    background: url(../image/background/background1.webp);
    /* background-repeat: no-repeat; */
    background-size: cover;  /* css3*/
    position: relative;
}
 .overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);

}
.opacity-hover{
    transition:opacity .5s;
}
.opacity-hover:hover{
    opacity: 0.6;
}
 .home-content{
    position:absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.home .title{
    color: white;
    font-size: 3.5rem;
    text-transform: uppercase;
}

.home-description{
    color:var(--whitecolor);
    margin: 20px 0;
    letter-spacing: 2px;
    line-height: 1.5px;
}
.home .btn{
   min-width: 160px;
    padding: 15px 0;
    border-radius:5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
    margin-top: 10px;
}
.home .btn-resume{
    margin-right: 10px;
    background-color: white;
    
}
.home .btn-learn{
    
    background-color:var(--maincolor);
    color: white;
    
}